.content .labelGroup{
  float: left;
  margin: 25px 0px 0px 0px;
  padding: 20px;
  width: 40%;
  height: 500px;
  display: inline-block;
  background-color: rgb(218,226,228);
}

.introduction {
  float: right;
  width: 55%;
  display: inline-block;
}

.introduction .legend-line {
  padding: 10px;
  background: #aaaaaa;
}

#createButton {
  font-size: 20px;
  float: right;
  margin: 25px 0px 0px 0px;
  padding: 5px 30px;
}
