.content {
  background-color: rgb(218,226,228);
  overflow: hidden;
}

.content .sortGroup {
  padding: 30px 0px 0px 20px;
}

.content .blueLine {
  background-color: rgb(44,108,179);
  padding: 0px 0px 2px 0px;
  margin: 0px 0px 0px 0px;
}

.content .sortGroup .sortButton {
  background-color: rgb(44,108,179);
  font-size: 13px;
  margin: 0px 10px 0px 10px;
  padding: 5px 15px 5px 15px;
  color: white;
  text-decoration: none;
}

.content .resultGroup {
  margin: 30px 5px 30px 5px;
  padding: 30px 5px 30px 5px;
}

.content .resultGroup .result { 
  border: 1px solid #000000;
  margin: 0px 0px 15px 0px;
  padding: 8px 0px 5px 5px;
  background-color: rgb(240, 248, 250);
}
.content .resultGroup .result:hover { 
  border: 1px solid #aa66dd;
}

.content .resultGroup .result .resultTitle {
  margin: 4px 0px 4px 5px;
  font-size: 15px;
  color: black;
}
.content .resultGroup .result .resultDescription {
  margin: 4px 0px 4px 5px;
  font-size:12px;
}

.content .resultGroup .result .resultDate {
  display: inline-block;
  margin: 4px 10px 4px 5px;
  font-size: 12px;
}

.content .resultGroup .result .LabelFollowed {
  margin: 4px 0px 4px 5px;
  color: rgb(184,111,111);
}

.content .resultGroup .result .LabelFollowed .label {
  margin: 0px 10px 0px 0px;
  color: rgb(184,111,111);
}
.content .resultGroup .result .LabelFollowed .labelSearched {
  color: rgb(199,0,0);
}

.content .page {
  float: right;
  display: inline-block;
  margin: 10px 5px 20px 0px;
}

.content .page .page-counter {
  font-size: 12px;
  border: 1px solid #000000;
  border-radius: 1px;
  margin: 10px; 
  padding: 2px 2px 2px 2px;
  background-color: #ffffff;
  margin: 0px 2px 0px 2px;
  text-decoration: none;
}
