.content .teach-plan-title {
  margin: 20px 0px 20px 550px;
  font-size: 25px;
}
.content .teach-plan-info {
  border: 1px solid #000000;
  margin: 20px 100px 20px 100px;
  padding: 20px 100px 20px 100px;
  background-color: rgb(240,248,250);
  overflow: hidden;
}

.content .teach-plan-info .teach-plan-captain {
  margin: 0px 0px 5px 0px;
  margin-left: auto;
  margin-right: auto;
  color: #1111aa;
  text-align: center;
}
.content .teach-plan-info .teach-plan-data {
  float: left;
  display: inline-block;
}

.content .teach-plan-info .teach-plan-label-group {
  float: right;
  display: inline-block;
}

.content .teach-plan-info .teach-plan-label-group .teach-plan-label {
  margin: 0px 10px 20px 10px;
  padding:5px 10px 5px 10px;
  background-color: rgb(248,250,255);
  border: 1px solid #000000;
  text-decoration: none;
}

.content .teach-plan-self .teach-plan-self-tb-1 {
 border-collapse: collapse;
 border: 1px solid #999999;
}

.content .teach-plan-self .teach-plan-self-tb-2 {
 border-collapse: collapse;
 border: 1px solid #999999;
}

.teach-plan-self {
  margin: 20px 50px 20px 50px;
}

.content .teach-plan-self-form {
  background: rgb(240,248,250);
}

.content .teach-plan-right {
  float: right;
  margin: 10px 20px 20px 10px;
}

.teach-plan-self-tb-3 {
  display: none;
}

.teach-plan-label-select-cloud {
  display: inline-block;
  margin: 2px 10px 2px 10px;
}

.teach-plan-label-select-pair {
  margin: 2px 10px 2px 10px;
  display: inline-block;
}

.teach-plan-label-leader {
  display: inline-block;
  font-size: 18px;
  color: #ff4455;
}

.teach-plan-label-select-group {
  display: block;
}

.teach-plan-submit-section{
  background:rgb(218,226,228);
}

.teach-plan-submit {
  display: none;
  float: right;
}
