body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

#u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:639px;
    overflow:hidden;
}

#pd0u0 {
    position:absolute;
    left:0px;
    top:0px;
    width:209px;
    height:639px;
    
}

.u1_normal {
    background-image: url('../Home_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:163px;
}

#u1_img {
    position:absolute;
    left:0px;
    top:0px;
    width:208px;
    height:163px;
}

.u2 {
    position:absolute;
    left:2px;
    top:74px;
    width:204px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Home_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:-28px;
    top:154px;
    width:245px;
    height:1161px;
}

#u3_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:251px;
    height:1167px;
}

.u4 {
    position:absolute;
    left:2px;
    top:572px;
    width:241px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u7_container {
    position:absolute;
    left:22px;
    top:0px;
    width:126px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:132px;
    height:26px;
}

.u8 {
    position:absolute;
    left:3px;
    top:-2px;
    width:121px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u10_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u10_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u11 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u13_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u13_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u14 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u16_selected {
    background-image: url('../Home_files/u16_selected.png');
}

.u16_normal {
    background-image: url('../Home_files/u16_normal.png');
}

.u16_container {
    position:absolute;
    left:6px;
    top:6px;
    width:9px;
    height:9px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:9px;
    height:9px;
}

.u17 {
    position:absolute;
    left:2px;
    top:-4px;
    width:5px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u18_container {
    position:absolute;
    left:22px;
    top:0px;
    width:146px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:152px;
    height:26px;
}

.u19 {
    position:absolute;
    left:3px;
    top:-2px;
    width:141px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u21_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u21_container {
    position:absolute;
    left:22px;
    top:0px;
    width:51px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:57px;
    height:26px;
}

.u22 {
    position:absolute;
    left:3px;
    top:0px;
    width:46px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u24_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u24_container {
    position:absolute;
    left:22px;
    top:0px;
    width:52px;
    height:20px;
}

#u24_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:58px;
    height:26px;
}

.u25 {
    position:absolute;
    left:3px;
    top:0px;
    width:47px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u27_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u27_container {
    position:absolute;
    left:22px;
    top:0px;
    width:66px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:72px;
    height:26px;
}

.u28 {
    position:absolute;
    left:3px;
    top:0px;
    width:61px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u30_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u30_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u30_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u31 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u33_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u33_container {
    position:absolute;
    left:22px;
    top:0px;
    width:6px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:12px;
    height:26px;
}

.u34 {
    position:absolute;
    left:3px;
    top:2px;
    width:1px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

.u36_normal {
    background-image: url('../resources/images/transparent.gif');
}

.u36_container {
    position:absolute;
    left:22px;
    top:0px;
    width:82px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:88px;
    height:26px;
}

.u37 {
    position:absolute;
    left:3px;
    top:-2px;
    width:77px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    white-space:nowrap;
}

#u38 {
    position:absolute;
    left:226px;
    top:121px;
    width:327px;
    height:172px;
    overflow:hidden;
}

#pd0u38 {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:172px;
    
}

.u39_normal {
    background-image: url('../Home_files/u39_normal.png');
}

.u39_container {
    position:absolute;
    left:-37px;
    top:-18px;
    width:382px;
    height:287px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:388px;
    height:293px;
}

.u40 {
    position:absolute;
    left:2px;
    top:136px;
    width:378px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:13px;
    top:16px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:93px;
    top:79px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u43 {
    position:absolute;
    left:226px;
    top:473px;
    width:327px;
    height:166px;
    overflow:hidden;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:166px;
    
}

.u44_normal {
    background-image: url('../Home_files/u39_normal.png');
}

.u44_container {
    position:absolute;
    left:-37px;
    top:-18px;
    width:382px;
    height:287px;
}

#u44_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:388px;
    height:293px;
}

.u45 {
    position:absolute;
    left:2px;
    top:136px;
    width:378px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:13px;
    top:16px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:91px;
    top:98px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u48 {
    position:absolute;
    left:226px;
    top:302px;
    width:327px;
    height:162px;
    overflow:hidden;
}

#pd0u48 {
    position:absolute;
    left:0px;
    top:0px;
    width:327px;
    height:162px;
    
}

.u49_normal {
    background-image: url('../Home_files/u39_normal.png');
}

.u49_container {
    position:absolute;
    left:-37px;
    top:-18px;
    width:382px;
    height:287px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:388px;
    height:293px;
}

.u50 {
    position:absolute;
    left:2px;
    top:136px;
    width:378px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:13px;
    top:16px;
    width:150px;
    height:24px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:97px;
    top:86px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u53 {
    position:absolute;
    left:571px;
    top:121px;
    width:630px;
    height:518px;
    overflow:hidden;
}

#pd0u53 {
    position:absolute;
    left:0px;
    top:0px;
    width:630px;
    height:518px;
    
}

.u54_normal {
    background-image: url('../Home_files/u54_normal.png');
}

.u54_container {
    position:absolute;
    left:-33px;
    top:-27px;
    width:685px;
    height:550px;
}

#u54_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:691px;
    height:556px;
}

.u55 {
    position:absolute;
    left:2px;
    top:267px;
    width:681px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:20px;
    top:34px;
    width:191px;
    height:33px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u57 {
    position:absolute;
    left:226px;
    top:0px;
    width:975px;
    height:112px;
    overflow:hidden;
}

#pd0u57 {
    position:absolute;
    left:0px;
    top:0px;
    width:975px;
    height:112px;
    
}

#u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:993px;
    height:104px;
    overflow:hidden;
}

#pd0u58 {
    position:absolute;
    left:0px;
    top:0px;
    width:993px;
    height:104px;
    
}

.u59_normal {
    background-image: url('../Home_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:-127px;
    top:-33px;
    width:1144px;
    height:161px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:1150px;
    height:167px;
}

.u60 {
    position:absolute;
    left:2px;
    top:72px;
    width:1140px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:692px;
    top:63px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:882px;
    top:63px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:18px;
    top:71px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:84px;
    top:69px;
    width:112px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u65 {
    position:absolute;
    left:206px;
    top:72px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:254px;
    top:68px;
    width:224px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u67 {
    position:absolute;
    left:488px;
    top:68px;
    width:53px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

